/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 10px;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

uni-button {
  padding-left: 16rpx !important;
  padding-right: 16rpx !important;
}
.uni-forms--top {
  padding: 16rpx 20rpx !important;
  width: 300px;
}
.uni-forms-item__content {
  display: flex;
  align-items: center;
}
.uni-forms-item {
  padding: 0 !important;
  margin: 0 !important;
}
@media (min-width: 1200px) {
  uni-tabbar.uni-tabbar-bottom {
    position: initial;
    display: none;
  }

  uni-page-head {
    display: none;
  }

  uni-page-wrapper {
    height: 100% !important;
  }

  body {
    height: 100%;
  }

  uni-page-body {
    max-width: 71.25rem;
  }
}

.flex_c {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.flex_sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

p {
  img {
    width: 100%;
  }
}

img,
image {
  width: 100%;
}

/* --------------------------------------------------------------------------------------------- */
// 登录页面
// 登录背景
.account_login.container {
  min-height: 100vh;
  height: auto !important;
  padding-top: 150px !important;
}
.account_login.container,
.forgot_account.container {
  background-image: linear-gradient(#66a6ff 0%, #89f7fe 100%) !important;
}
// 登录框
.account_login.container .wrapper {
  background: rgba(255, 255, 255, .3) !important;
  margin: 15px;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 40px;
}
.account_login .input-content {
  padding: 30px 15px 0 !important;
  .input-item input {
    height: 80rpx !important;
    line-height: 80rpx !important;
  }
}
// 标题
.top-sign-title {
  color: #FFF;
  text-align: center;
  font-size: 19px;
  font-weight: 600;
  padding-bottom: 10px;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;  
}
.back-btn {
  display: none !important;
}
// login
.left-top-sign {
  color: #a5a5af !important;
  left: 0 !important;
  border-bottom: 2px solid #57bc90;
  display: none;
}
// 欢迎回来
.welcome {
  color: #fff !important;
  text-shadow: none !important;
  left: 34px !important;
  top: -90px !important;
  display: none !important;
}
// 装饰
.right-top-sign::before,
.right-top-sign::after {
  width: 0 !important;
}
// 装饰
.container .left-bottom-sign {
  border: none !important;
}
// 输入框
.input-content {
  margin-top: 10px;
  width: auto !important;
}
// 用户名输入框
.input-item {
  background-color: transparent !important;
  flex-direction: row !important;
  height: 38px !important;
  padding: 0 !important;
  line-height: 38px !important;
  border: 1px solid #fff;
  min-height: auto !important;
  border-radius: 20px !important;

}
.account_login .input-item .tit {
  display: none;
}
.account_login .input-item {
  padding-left: 10px !important;
  margin-bottom: 15px !important;
  border-radius: 20px !important;
}
// 用户名字段
.input-item .tit {
  width: 25% !important;
  padding-left: 5px;
  height: 38px !important;
  line-height: 38px !important;
  text-align: right !important;
  text-align-last: right !important;
  margin-right: 0 !important;
  font-size: 12px !important;
}
.input-item .uni-input-wrapper {
  height: 38px !important;
  line-height: 38px !important;
  .uni-input-input {
    padding-left: 5px !important;
  }
}
.uni-select,
.uni-easyinput__content {
  height: 50rpx !important;
  min-height: 50rpx !important;
  border-radius: 40rpx !important;
  font-size: 24rpx !important;
  color: #666;
}
.uni-easyinput__content-input {
  padding: 0 20rpx 0 !important;
  font-size: 24rpx !important;
}
// 登录按钮
page .container .confirm-btn {
  background-color:#F30 !important;
  color: #fff !important;
  width: 60%;
  font-size: 14px;
}
.confirm-btn::after {
  border: none !important;
}
.input-item .tit:after {
  content: ":";
}
.uni-input-placeholder {
  font-size: 12px;
  color: #666;
}
// 人脸识别
.face-login {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  border-radius: 20px;
  margin: 0 15px;
  background-color: #fff !important;
  padding: 10px;
  flex-direction: column;
  align-items: center;

  .face-img,
  .face-camera {
    width: 200px !important;

    camera {
      height: 200px !important;
      margin: 0 0 15px 0!important;
    }
    .btn_add_img {
      width: 198px !important;
      height: 198px !important;
      margin: 0 0 15px 0!important;
    }
  }
}
.face-login button {
  width: 59%;
  height: 40px !important;
  margin-bottom: 10px;
}
.face-camera {
  // height: 100px;
  // width: 30%;
}
#canvasElement {
  height: 50px !important;
}
.btn_add_img {
  height: 118px;
  width: 118px;
  margin: 10px;
  border: 1px dashed #66a6ff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #66a6ff;
}
.btn_add_img text {
  font-size: 40px;
}
.face-login .uni-video-cover-play-button,
.face-login .uni-video-cover-duration {
  display: none;
}
.face-img {
  width: 80% !important;
}
// 忘记密码按钮
.forget-section {
  color: #333 !important;
  text-align: right !important;
  margin-top: 0 !important;
  height: 40px;
  line-height: 40px;
  font-size: 14px !important;
  padding: 0 15px;
}
// 还没有账号
.account_login .register-section {
  // top: 395px;
  //     color: #222 !important;
  //     height: 40px;
  //     line-height: 40px;
  //     width: 60% !important;
  //     left: 180px !important;
  //     z-index: 9999;
}
.input-item uni-input {
  height: 35px !important;
  font-size: 12px !important;
}
// 马上注册
.register-section .text {
}

// 忘记密码页面
.forgot_account.container .wrapper {
  background: rgba(255, 255, 255, .3) !important;
  margin: 0 15px;
  position: absolute;
  border-radius: 35px;
  top: 100px;
  left: 0;
  right: 0;
  padding: 20px 0;
}
// 发送按钮
.forgot_account .btn_send {
  // background-color:#015249 ;
  color: #fff !important;
}
// 立即注册按钮
.forgot_account .register-section {
  position: absolute;
  top: 510px;
  // background-color:#ebf4ff ;
  // color: #fff !important;
  // height: 40px;
  // line-height: 40px;
  // width: 60% !important;
  left: 0px !important;
  //    border-radius: 30px !important;
}

// 注册页
#account_register {
  background-image: linear-gradient(#66a6ff 0%, #89f7fe 100%) !important;

  picker,
  uni-picker {
    border: none !important;
    font-size: 12px !important;
    color: #666 !important;
  }

  .mm_container {
    padding-bottom: 12rem !important;
  }
  .diy_field.diy_img {
    height: 140px !important;
  }
}
.uni-picker-container .uni-picker-custom {
  bottom: 231px !important;
}
// uni-page-wrapper{
// background-color: #77c9d4 !important;
// }
#account_register .mm_container .row .register_view {
  background: rgba(255, 255, 255, 0.3) !important;
  width: 100%;
  border-radius: 20px;
}
/* 注册页 头部 ‘注册’ 框 */
#account_register .title {
  /* 行内元素转块级元素 */
  display: none !important;
  /*字体 颜色 */
  color: #222 !important;
  /* 内 下边距 */
  padding-bottom: var(--padding_mini) !important;
  /* 下边框 */
  border-bottom: 1px solid var(--color_dark) !important;

  text-align: center;
}

/* 注册页-注册页内 '立即注册'按钮样式 */
#account_register .btn_register {
  /* 登录 按钮 字体摆放位置 */
  text-align: center !important;

  /* 登录按钮外边距 */
  margin: 10px auto !important;
  /* 宽度 */
  width: 60%;
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
  border-radius: 30px !important;
}
#account_register .diy_title {
  width: 4.0625rem !important;
}

/* 注册页-注册页内 '返回登录、忘记密码' 盒子样式 */
#account_register .btn_all {
  /* 盒子内子元素浮动 */
  display: flex;
  /* 盒子内子元素左右居中摆放  'space-between 左右摆放'*/
  justify-content: space-around;
  /* 内边距 */
  /* padding: 10rpx 10rpx 10rpx 10rpx; */
  /* 外边距 */
  /* margin: 10rpx 10rpx 10rpx 10rpx; */
  color: #222 !important;
  font-size: 14px !important;
  align-content: space-around;

  flex-direction: row;
  text-align: center;
  width: 68%;
  margin: 5px auto;
}

// 注册页用户名
.uni-forms-item__inner .uni-forms-item__label {
  color: #666 !important;
  justify-content: flex-end !important;
  font-size: 12px !important;
}
.uni-forms-item__inner .uni-forms-item__label::after {
  content: ":";
}
#account_register .is-required {
  display: none;
}
#account_register .diy_title {
  color: #606266;
}
#account_register .diy_text {
  border: 1px solid #e5e5e5;
  width: 70%;
}
#account_register .diy_field {
  width: 75%;
}
#account_register .diy_down {
  padding-left: 0px !important;
  width: 78% !important;
}
#account_register .uni-forms-item {
  border-radius: 20px !important;
  overflow: hidden;

  .is-input-border {
    border: none !important;
  }
}
// 忘记密码
.btn_send {
  background-color: #d8c5c6 !important;
}
// 首页
.home--new .swiper {
  height: 180px !important;
}
#home .menu_list {
  background-color: #fff !important;
  justify-content: flex-start !important;
}
.menu_list .item_menu {
  width: 25%;
  margin: 0 !important;
}
.menu_list .item_menu .menu {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 10px;
}
.menu_list .item_menu .menu image {
  display: none;
}
.menu_list .item_menu .name {
  color: #333;
  font-size: 12px !important;
  display: inline-block;
}
.menu_list .item_menu:nth-child(1) {
  background: url("/static/img/tab_1.png") center 20% no-repeat !important;
  background-size: 30% !important;
}
.menu_list .item_menu:nth-child(2) {
  background: url("/static/img/tab_2.png") center 20% no-repeat !important;
  background-size: 30% !important;
}
.menu_list .item_menu:nth-child(3) {
  background: url("/static/img/tab_9.png") center 20% no-repeat !important;
  background-size: 30% !important;
}
.menu_list .item_menu:nth-child(4) {
  background: url("/static/img/tab_6.png") center 20% no-repeat !important;
  background-size: 30% !important;
}
.menu_list .item_menu:nth-child(5) {
  background: url("/static/img/tab_5.png") center 20% no-repeat !important;
  background-size: 30% !important;
}
#home .menu_list .item_menu:nth-child(6) {
  background: url("/static/img/tab_3.png") center 20% no-repeat !important;
  background-size: 30% !important;
}
#home .menu_list .item_menu:nth-child(7) {
  background: url("/static/img/tab_7.png") center 20% no-repeat !important;
  background-size: 30% !important;
}
#home .menu_list .item_menu:nth-child(8) {
  background: url("/static/img/tab_4.png") center 20% no-repeat !important;
  background-size: 30% !important;
}

#home .menu_list .item_menu:nth-child(9) {
  background: url("/static/img/tab_4.png") center 20% no-repeat !important;
  background-size: 30% !important;
}

.swiper_notice .notice {
  margin-left: 0 !important;
}

// 首页新闻模块
#home .card-title {
  color: #222 !important;
  padding: 5px 0;
  font-size: 14px !important;
}

#home .card-title .more {
  font-size: 12px;
  padding: 2px 8px;
}
#home .uni-card .item,
#article_list .item {
  width: 100%;
  flex-direction: row-reverse;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 20rpx !important;
}

// 图片
#home .uni-card .item .image,
#article_list .item .image {
  margin: 5px 0 !important;
  border-radius: 4px;
}
#home .uni-card .item .right_block {
  padding-right: 8px;
}
// 标题
#home .uni-card .item .top_info,
#article_list .item .top_info {
  margin-top: 5px;
  color: #222;
}
// 时间
#home .uni-card .item .mid_info,
#article_list .item .mid_info {
  margin-top: 5px;
  // color: #77c9d4;
  // text-align: right;
}
.box_wrap .view {
  margin-bottom: 5px;
  flex-direction: row;
  flex-wrap: wrap;
}

// 商城模块
.list_goods .goods_item {
  width: calc(50% - 16px) !important;

  image {
    border-radius: 4px;
  }
}
.list_goods .goods_item .bottom .icon_cart {
  color: #3d5e88 !important;
}
.list_goods .goods_item .bottom .price {
  color: #3d5e88 !important;
}
.sales {
  display: none;
}
#goods_details .bar_title .title {
  color: #655f5f;
}
// 购物车
.support_module .button-area {
  justify-content: center !important;
}
.bar_settle {
  padding: 0 !important;
  .settle {
    width: 80px;
    height: 50px;
    margin-right: -8px;
    background-color: #294d7c;
  }
}
.bar_settle .choose_btn.active {
  color: #8cb9f3 !important;
}
.list_cart .choose_btn.active .btn_circle {
  background-color: #ebf4ff !important ;
  color: #8cb9f3 !important;
}
.bar_settle .choose_btn.active .btn_circle {
  background-color: #ebf4ff !important ;
  color: #8cb9f3 !important;
}
.bar_settle .btn_settle {
  background-color: transparent !important;
  color: #fff !important;
  border: none !important;
}
.item_order .state,
#order_details .state {
  color: #24446f !important;
}
// 自定义模块
.list_diy .uni-card__content {
  // border: 3px solid #77c9d4;
  // border-bottom: 12px solid #57bc90;
  //  border-top: 12px solid #57bc90;
  // border-radius: 20px;
  // background-color: #77c9d4;
}
.pay_model button {
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
}
.box_wrap {
  margin-top: 5px;
  padding: 0 15px !important;
}
.list_website_announcement {
  margin-bottom: 0 !important;
}
.card-title .more {
  background-color: #ebf4ff;
  padding: 2px;
  color: #8cb9f3 !important;
}
#home .list_com--new .box_wrap .box_style {
  border: 1px solid #f1f1f1 !important;
  // width: 100% !important;
  // max-width:100% !important;
  // margin:5px auto !important;
  // background-image:url("/static/img/good.png")  !important;
  // background-size: 100% 100% !important;
  // padding: 50px !important;
  // padding-top: 80px !important;
}
.diy_list .warp .row {
  // width: 80%;
  margin: 10px auto;
  border: 1px solid #f1f1f1;
}
.list_orderby .bar_orderby {
  background-color: #cbc8c8 !important;
}
.diy_list .warp .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.diy_list .warp .row {
  width: 45%;
}
#home .list_com--new .box_wrap .box_style:nth-child(even) {
  // margin:5px auto !important;
}
.list_com--new .box_wrap .box_style .image,
.diy_list .warp .row .diy_img {
  height: 200px;
  width: 100%;
}
.list_com--new .box_wrap .box_style .image img,
.list_com--new .box_wrap .box_style .image image,
.diy_list .warp .row .diy_img img,
.diy_list .warp .row .diy_img image {
  height: 200px !important;
  width: 100%;
  border-radius: 4px;
}
.list_com--new .box_wrap .box_style .view,
.diy_list .warp .row .view {
  // display: flex;
  //     flex-direction: column;
  //     align-items: center;
}
.list_com--new .box_wrap .box_style .view .diy_field,
.diy_list .warp .row .view .diy_field {
  border: none;
  margin-top: 0 !important;
}
.list_com--new .box_wrap .box_style .view .title,
.diy_list .warp .row .view .diy_title {
  color: #333 !important;
  font-size: 12px !important;
}
.list_com--new .box_wrap .box_style .view .title::after {
  content: ":";
}
.diy_list .warp .row .view .diy_title::after {
  content: ":";
}
.diy_list .warp .row .view .diy_time {
  color: #015249 !important;
  font-size: 12px !important;
}

.copyright {
  color: #222;
  text-align: center;
}
// 自定义模块列表页 定制商品首页更多点进去
/* 列表样式 */

.diy_list .warp {
}
.uni-searchbar {
  background-color: #fff !important;
}
.diy_list .btn-primary {
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
}
.diy_list .wt-tabs__container {
}
.diy_list .wt-tabs__container .wt-tabs__container-item {
  color: #666 !important;
}

.wt-tabs {
  display: flex;
  padding: 0 20rpx;
  .wt-tabs__container-item.selected {
    border-color: #24446f !important;
    color: #24446f !important;
    border-radius: 50rpx;
  }
}
// 自定义模块详情页

.diy_detail .view {
  margin-top: 5px !important;
  display: flex;
  border-bottom: 1px solid #eee !important;
  margin: 0 10rpx !important;
}

.diy_detail .view .diy_title {
  color: #222 !important;
  margin-right: 10px !important;
  width: 100px;
  font-size: 15px !important;
}
.diy_detail .view .diy_title::after {
  content: "：";
}
.diy_detail .view .diy_field {
  color: #2e3632 !important;
  font-size: 13px !important;
}
.diy_detail .view .diy_img {
  width: 100%;
  height: 200px;
}
.diy_detail .view .diy_img img {
  width: 100%;
  height: 100%;
}
.diy_detail .time_type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.diy_detail .container-fluid .col {
  // background-color: #F1F1F1;
  color: #015249 !important;
  margin-top: 5px;
  padding-top: 10px !important;
}
.diy_detail.diy_detail--new .container-fluid-comment--new .btn {
  background-color: #979ca1 !important;
}
.diy_detail.diy_detail--new .comment_title {
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
}
.diy_detail .time_type {
  color: #222;
  justify-content: flex-start;
}
.diy_detail .time_type > span {
  margin-right: 10px;
}
.diy_detail .time_type > span::after {
  content: ":";
}
.btn_publish {
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
}
#comment_edit .btn_publish {
  width: 150px;
  margin: 10px auto !important;
  border-radius: 0px !important;
}
// 定制商品详情页定制按钮点进去
// / 编辑页
.diy_edit .warp .container {
  // background-color: #77c9d4 !important;
}
.diy_edit .warp .container .row-item {
  // background-image:url("/static/img/edit.png")  !important;
  // background-size: 100% 100% !important;
  // padding: 10px !important;
}
.uni-select__input-box,
.diy_edit .uni-select__input-box {
  width: 100% !important;
  height: 25px !important;

  uni-text {
    font-size: 28rpx !important; 
  }
}
.diy_edit .row-item {
  background-color: #fff !important;
  padding: 5px;
  border-bottom: 1px solid #f1f1f1;
}
.diy_edit .row-item .illustration {
  margin-bottom: 20px;
  top: 0px;
}
.diy_edit .btn_submit {
  background-color: #ebf4ff !important;
  width: 120px;
  color: #8cb9f3 !important;
  margin-bottom: 10px;
}
.diy_edit .diy_title {
  width: 70px;
}

.uni-table-scroll {
  margin: 0 20rpx 30rpx !important;
}
// 论坛页面列表
// 发布按钮
.diy_table_tml .change {
  display: flex;
  justify-content: flex-end;
  .uni-stat__select {
    margin-left: 20rpx;
  }
  .button {
    width: auto !important;
    height: 50rpx !important;
    line-height: 50rpx !important;

    uni-button {
      font-size: 12px !important;
      line-height: 50rpx !important;
      background-color: #3885cc;
      color: #fff;
    }
  }
}
.page_forum .change .button {
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
}
.page_forum .list .item {
  // background-image:url("/static/img/cart.png")  !important;
  // background-size: 100% 100% !important;
  // padding: 20px !important;
}
// 论坛详情页
#forum_details .div_forum .title {
  color: #222;
}
#forum_details .div_forum .rich_text {
  font-size: 20rpx;
}
#forum_details .aside .time {
  // color: #015249;
}
#forum_details .tag {
  // background-color:  #015249 !important;
  // color: #FFF;
}
// 描述
#forum_details .desc::after {
  content: ":";
}
#forum_details .div_forum .praise,
#forum_details .div_forum .collect {
  // background-color: #57bc90 !important;
  // color: #FFF;
}
#forum_details .link {
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
  width: 60% !important;
  margin: 4px auto;
}
#forum_details .comment_box .link {
  background-color: #fff !important;
  color: #222;
}
// 论坛添加页
.pages-forum-view {
  // background-color: #77c9d4 !important;
}
.pages-forum-view .uni-forms-item {
  // background-image:url("/static/img/edit.png")  !important;
  // background-size: 100% 100% !important;
  // padding: 10px !important;
}

// 我的
#user_index .top_user {
  background-image: url("/static/img/user_bg.jpg") !important;
  background-size: 100% 100% !important;
  padding: 30px !important;
  .name {
    flex-direction: row;
    padding-top: 20rpx;
    uni-text {
      &:first-child {
        font-size: 48rpx !important;
        color: #24446f;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
      }
      &:last-child {
        display: none;
      }
    }
  }
}
#user_index .top_user .avatar {
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#user_index .list_my {
  background-color: #f6d7c1;
  width: 160rpx;
  border-radius: 50rpx;
  padding: 10rpx 0;
  justify-content: center;
  align-items: center;
  float: right;
  margin: 20rpx;
  &::after {
    content: " ";
    display: table;
    clear: both;
  }
}
.item_my {
  padding-bottom: 0 !important;
}
#user_index .list_my .my_nav {
  	flex-direction: row;
    justify-content: center;
    
    uni-text {
      font-size: 24rpx !important;
    }
}
#user_index .list_module {
  background-color: #24446f  !important;
  clear: both;
  
  uni-view:first-child {
    padding-top: 1.5rem;
  }
}
#user_index .list_module .my_module {
  background-image:url("/static/img/edit.png")  !important;
  background-size: 100% 100% !important;
  width: 100%;
  border-color: #e5e5e5;
  font-size: 24rpx;
  
  div {
    width: 95%;
    border: 2rpx solid #f6d7c1;
    margin-bottom: 20rpx;
    text-align: center;
    color: #f6d7c1;
    font-weight: bold;
    border-radius: 20px;
  }
}
// 基本信息
#user_info .item_info {
}
// 修改密码
#user_password {
}
#user_password .button {
}

#user_info .item_info .uni-icons {
}
// 收货地址
#user_address .address_card {
}
// 默认按钮
#user_address .tag_default {
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
  border: none !important;
}
// 新建收货地址按钮
#user_address .btn_address {
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
}
// 新建收货地址

#user_address_edit .header {
  // background-color:#77c9d4 !important;
  // color: #fff !important;
}
#user_address_edit .name,
#user_address_edit .phone,
#user_address_edit .address {
  // background-image:url("/static/img/edit.png")  !important;
  // background-size: 100% 100% !important;
  // padding: 30px;
}
#user_address_edit .btn_save {
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
}
// 收藏
.item_collect .btn_del {
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
  border: none !important;
}
.btn_del::after {
  border: none !important;
}
.top_comment .title {
  font-size: 14px !important;
}
// 退出按钮
.page_user--new .btn_logout,
.page_user--new .btn_login {
  background: #f30 !important;
  color: #FFF !important;
  font-weight: bold;
  border-radius: 50px !important;
  font-size: 24rpx !important;
  height: 60rpx !important;
  
}

/*我的列表页 */
.diy_table .container {
  margin-top: 10px;
  display: grid !important;
  grid-template-columns: auto auto !important;
  gap: 20rpx 20rpx;
  padding-left: 10rpx;
  justify-content: center;
}
.diy_table.diy_table_tml .box_style {
  width: auto;
}
// 添加修改按钮
.diy_table_tml .container .table_padding_bottom .btn_right,
.diy_table_tml .table_padding_top .nav_left {
  background-color: #3885cc !important;
  color: #fff !important;
  border-radius: 40rpx;
  font-size: 24rpx;
  padding: 0 30rpx !important;
  line-height: 50rpx !important;
}
.diy_table_tml .table_padding_top {
  display: flex;
  justify-content: flex-end;
  padding-right: 30rpx;
}
// 商城用户列表“详情”按钮上面的“删除”按钮
.diy_table .delete_a_btn {
  line-height: 20px;
  text-align: center;
  width: 60px;
  font-size: 12px;
  height: 20px;
  /* display: flex; */

  // background: url("/static/img/more.png") top center no-repeat !important;
  // background-size: 100% 100% !important;
  color: red !important;
}
.diy_table_tml .container {
  //  background:#77c9d4 !important;
  //    background-size: 100% 100% !important;
  // padding-top: 10px;
}
.diy_table_tml .warp .container {
  // background:#F1F1F1 !important;
}
.diy_table_tml .container .row {
  border: 1px solid #f1f1f1;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  font-size: 14px;
  margin: 0 !important;
  
  .create_time_block {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
    
    uni-button {
      margin: 0 20rpx 0 0;
    }
  }
}

.diy_table .col {
  padding: 5px 0;
}
.diy_table .uni-common-mt .btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: #3885cc !important;
  border-radius: 40rpx;
  color: #FFF !important;
}
.diy_table .warp .container .diy_img img {
  width: 100%;
  height: 100px;
  padding: 5px 0;
}
.diy_list .warp .container {
  width: 100% !important;
}
// 编辑页
.diy_view.container {
  // background-color: #77c9d4 !important;
}
.diy_table .uni-common-mt {
  width: 100%;
}

.diy_table .uni-common-mt .btn {
  font-size: 14px;
  color: #fff;
  background: #3885cc;
  line-height: 2;
  margin-bottom: 8px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.uni-forms-item {
  //   	min-height: 36px;
  //   	line-height: 36px;
  // background-image:url("/static/img/edit.png")  !important;
  // background-size: 100% 100% !important;
  // padding: 10px !important;
  background: #fff;
}
.diy_view .uni-forms-item__label {
  width: auto !important;
}
.diy_table .diy_text {
  padding-left: 10px;
  color: #3885cc;
  text-decoration: dashed;
}

.diy_table.delete_btn {
  display: inline-block;
  padding-left: 8px;
  color: #3885cc;
  text-decoration: underline;
}

.diy_table .uni-forms {
  overflow: visible !important;
}

.diy_view .uni-forms {
  overflow: visible !important;
}

.diy_edit uni-image > img {
  position: relative !important;
  border-radius: 50%;
}

.diy_table_tml .container .row .col .view {
  display: flex;
}
.diy_table_tml .container .row .col .view .diy_title {
  white-space: nowrap;
}
.diy_table_tml .container .row .col .view .diy_text {
  margin-left: 0;
  color: #706c6c;
}
.diy_table_tml .container .row .col .view .diy_img {
  width: 98%;
}

.div_list_tml .warp .container .row .col .view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.div_list_tml .warp .container .row .col .view .diy_datetime {
  font-size: 15px;
}
.div_list_tml .warp .container .row .col .view .diy_title {
  margin-right: 10px;
}

.div_list_tml .warp .container .row .col .view .diy_text {
  padding-left: 0;
  color: #333;
  font-size: 14px;
}

.confirm-btn {
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
}
.uni-body
  .uni-app--maxwidth
  uni-page
  uni-page-wrapper
  uni-page-body
  #customized_goods_list
  .warp
  .container
  .row {
  justify-content: space-around;
}

.uni-stat__actived {
  // padding-right: 15px;
}

.uni-select__selector {
  z-index: 9999 !important;
}
.uni-card {
  margin: 8px !important;
}
.uni-card__content--pd {
  padding: 8px !important;
}
#home .uni-card .title {
  font-size: 14px;
  color: #222;
}
#home .uni-card .diy_field {
  font-size: 22rpx;
  color: #333;
}
.uni-stat__select {
  min-width: 100px !important;
}
.diy_list_page .box_style {
  padding: 0 !important;
}
.diy_list_page .box_style .diy_title {
  font-size: 24rpx;
  color: #222;
}
.diy_list_page .box_style .diy_field {
  font-size: 22rpx;
  color: #333;
}
.diy_list_page .box_style .diy_img {
  width: 100%;
}

.diy_view .form_button .primary_btn {
  background-color: #ebf4ff !important;
  color: #8cb9f3 !important;
}
.diy_list .warp {
  flex-direction: column;
}

.diy_list .warp .tab-wrapper {
  width: 100%;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.diy_list .warp .tab-wrapper .wt-tabs__container-item {
  width: 33%;
}
#notice_list .uni-list {
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // background-color:#f1f1f1 ;
}
.diy_edit .diy_field .diy_img {
  width: 100%;
}
#notice_list .uni-list-item {
  // margin: 20px 20px 10px 20px;
}
.diy_title {
  min-width: 56px;
}
.row-item {
  min-width: 350px !important;
}

.list .item .right_block {
  padding-right: 8rpx;
}
.uni-forms-item__label {
  min-width: 60px !important;
  max-width: 100px !important;
  width: auto !important;
  flex-shrink: 1;
}
html {
  font-size: 16px !important;
}

.diy_text_row {
  width: 100%;
}
.diy_text_row text {
  width: 80px;
  display: inline-block;
}
.diy_edit .btn_box {
  margin-left: 109px;
}
.diy_title.diy_text_row {
  width: 80px;
}
// 测试列表页
.table--border {
  margin-top: 5px;
}
.table--border .uni-table-tr {
  // background-color:#b2d5c6 !important ;
}
.seat-wrapper {
  width: 100% !important;
}
.diy_select_flex {
  padding-left: 0rem !important;
}
.diy_button {
  width: 30%;
}
.table--border .uni-table-tr .uni-table-td {
  // color: #fff;
}
.page_exam {
  font-size: 14px;
}
// 答题按钮
#exam_list .table--border .answer_link {
  background-color: #ebf4ff;
  color: #8cb9f3 !important;
  width: 40px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 2px;
}
// 答题详情页
#exam_details {
  // background-color: #b2d5c6;
  // font-size: 14px;
}
#exam_details .uni-list-cell {
  width: 100%;
  display: inline-block;
  margin-bottom: 0.625rem;
}
#exam_details .answer_btn_box {
  padding-left: 90px;
}
.answer_btn_submit {
  background-color: #ebf4ff;
  color: #8cb9f3 !important;
  border-radius: 40rpx;
  font-size: 28rpx;
  line-height: 60rpx;
  margin-top: 30rpx;
}
.uni-icons {
  left: -20px;
}
.Authorization-page {
  width: 100%;
  display: flex;
  justify-content: center;

  top: 160px;
}

.Author {
  border-radius: 50%;
  margin: 10rpx;
  width: 38px !important;
  height: 38px !important;
}
.Author uni-button::after {
  border: none;
}

.Authorization-page .Author .Author-qier {
  background: #fff url("/static/img/qe.png") no-repeat center center;
  background-size: 38px 38px;
  height: inherit;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.Authorization-page .Author .Author-weixin {
  background: #fff url("/static/img/weixin.png") no-repeat center center;
  background-size: 34px 34px;
  height: inherit;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.Authorization-page .Author .Author-weibo {
  background: #fff url("/static/img/weibo.png") no-repeat center center;
  background-size: 38px 38px;
  height: inherit;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.aut-box .btn-n-box .btn,
.uni-popup__wrapper-box .btn {
  background-color: #51a6ff !important;
}
.aut-box .aut-h {
  background-color: #77c9d4 !important;
}
.aut-box .img-box {
}
.aut-box .texts {
  background-color: #b2d5c6 !important;
}
.ip1 {
  background-color: #fff;
  border: 1px solid #f1f1f1;
}
.bt1 {
  background-color: #51a6ff !important;
}
// 友情连接
.list_link .img {
  height: 50px !important;
  width: 100px !important;
}
.list_link {
  margin-bottom: 0.625rem;
}
#message_list .button {
  background-color: #ebf4ff;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin: 10px auto;
  text-align: center;
  color: #8cb9f3 !important;
}
.list_message {
  width: 95%;
  margin-left: 10px;
}
.item_message {
  border: 1px solid #eee;
  margin: 8px auto;
  padding: 5px 8px;
}
.item_message .title {
  font-size: 16px;
}
.item_message .user_info {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #eee;
  padding: 5px 0;
  color: var(--color_grey);
}
.item_message .time {
  font-size: 14px;
}
.item_message .content {
  font-size: 14px;
  color: #999;
}
.item_message .list_reply_block {
  margin-top: 15px;

  view:first-child {
    color: #666;
    font-size: 14px;
  }
  .list_reply_box {
    border-top: 1px dashed #eee;
    margin-top: 5px;
    padding-top: 5px;
  }
}
.uni-pagination {
  padding: 0 10px !important;

  .uni-pagination__btn {
    opacity: 0.5 !important;
  }
}
#user_password .button {
  background-color: #ebf4ff;
  width: 150px;
  color: #8cb9f3 !important;
}
.btn_right {
  background-color: #ebf4ff !important;
  // width: 150px;
  color: #8cb9f3 !important;
}
.nav_left {
  background-color: #7c7f7e !important;
}
.diy_view .uni-forms-item {
  background-color: #fff !important;
}
#exam_list .change {
  flex-direction: column;
}
#exam_list .change .button {
  width: 30% !important;
}
.goods_list {
  .time {
    position: static !important;
    color: #666 !important;
    font-size: 24rpx !important;
    uni-text {
      &:first-child {
        display: none;
      }
    }
  }
  
  .price {
    font-size: 24rpx !important;
    color: #f30 !important;
  }
  
  .num {
    font-size: 24rpx !important;
  }
}